<template>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ stock.name }}
          <small>(Price: {{ stock.price }})</small>
        </h3>
        <div class="panel-body">
          <div class="pull-left">
            <input  
              type="number"
              class="form-control"
              :class="{danger: insufficientFunds}"
              placeholder="Quantity"
              v-model="quantity">
          </div>
          <div class="pull-right">
            <button
              class="btn btn-success"
              @click="buyStock"
              :disabled="insufficientFunds || quantity <= 0">{{ insufficientFunds ? 'Insufficient Funds' : 'Buy'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: function() {
    return {
      quantity: 0
    };
  },
  props: ['stock'],
  computed: {
    funds() {
      return this.$store.getters.funds;
    },
    insufficientFunds() {
      return this.quantity * this.stock.price > this.funds;
    }
  },
  methods: {
    buyStock: function(){
      const order = {
        stockId: this.stock.id,
        //stockName: this.stock.name,
        stockPrice: this.stock.price,
        quantity: this.quantity
      };
      console.log('Order: -----');
      console.log(order);
      console.log('Order: -----');
      this.$store.dispatch('buyStock',order);
      this.quantity = 0;
    }
  }

}
</script>

<style scoped>
  .danger {
    border: 1px solid red;
  }
</style>
